html, body {font-family: "Arial"; font-size:90%; margin:0px; padding:0px;
  background-color: #0B588C;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0B588C), color-stop(50%, #D4E1EA), to(#0B588C));
  background-image: -webkit-linear-gradient(#0B588C, #D4E1EA 50%, #0B588C);
  background-image: -moz-linear-gradient(top, #0B588C, #D4E1EA 50%, #0B588C);
  background-image: -ms-linear-gradient(#0B588C, #D4E1EA 50%, #0B588C);
  background-image: -o-linear-gradient(#0B588C, #D4E1EA 50%, #0B588C);
  background-image: linear-gradient(#0B588C, #D4E1EA 50%, #0B588C);
}

a {text-decoration:none;}

.highlightKeyword { font-weight: bold; color:#EC692D}

/** widget */
.widget {display:none;}
.widget-title {width:100%; height:30px; line-height:30px; border-bottom:1px solid #cccccc; padding:0px 0px 0px 0px; margin:0px; font-weight:bold; color:#555555; font-size:110%;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
}
.widget-title label{margin-left:8px;}
.widget-title span{margin:5px;}
.widget-title span:hover {background-color:#dddddd; -moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px;}
.widget-close {width:18px; height:18px; float:right; cursor:pointer}
.widget-detail {width:18px; height:18px; float:right; cursor:pointer; display:none}
.widget-dropdown {width:18px; height:18px; float:right; cursor:pointer}


/** gridster */
.gridster {margin:0 auto; width:95%;}	
.gridster > ul {list-style:none;}
.gridster > ul > li {background-color:#ffffff; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;  padding:0px; border:1px solid transparent;}
.gridster > ul > li:hover {
	-moz-box-shadow: 0 0 30px rgba(200,200,200,0.8);
	-webkit-box-shadow: 0 0 30px rgba(200,200,200,0.8);
	box-shadow: 0 0 30px rgba(200,200,200,0.8);
}


/**widget_addWidget*/
#widget_addWidget{
	left:0; top:50%; z-index:1000; position:fixed; color:#ffffff; background-color:#EC692D; font-weight:bold; width:100px; height:20px; padding:5px; font-size:110%; text-align:center; cursor:pointer;
	transform: rotate(90deg);
	transform-origin:15% 30%;
	-ms-transform: rotate(90deg); /* IE 9 */
	-ms-transform-origin:15% 30%; /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	-webkit-transform-origin:15% 30%; /* Safari and Chrome */
	-moz-transform: rotate(90deg); /* Firefox */
	-moz-transform-origin:15% 30%; /* Firefox */
	-o-transform: rotate(90deg); /* Opera */
	-o-transform-origin:15% 30%; /* Opera */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); /* IE */ 
}

/** dialog_addWidget */
#dialog_addWidget ul {list-style:none; margin:2px; padding:0px; }
#dialog_addWidget ul li {float:left; margin:10px; padding:10px; width:280px; height:90px;border:1px solid #eeeeee;-moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
#dialog_addWidget ul li:hover {background-color:#eeeeee;cursor:pointer;}
#dialog_addWidget ul li span {color:#777777;float:left;margin-left:25px;width:170px;}
#dialog_addWidget ul li img {width:85px; height:85px;float:left}


/** score and content */
.score {width:5%;  text-align:center; margin-right:9px; font-weight:bold; color:#EC692D; font-size:150%; }
.content {width:86%; color:#555555; padding-left:10px; font-size:90%;}
.content .title {font-weight:bold;}


/** widget_news */
#rss_news ul {padding:0px; margin:0px; list-style:none; width:100%; height:100%;}
#rss_news ul li {border-bottom:1px solid #eeeeee; padding:5px;display: inline-block; width:96%; cursor:pointer;}
#rss_news ul li:hover {background-color:#eeeeee;}
#rss_news ul li div {float:left;}


/** sales_leads */
#leads > div ul {padding:0px; margin:0px; list-style:none;}
#leads > div ul li {border-bottom:1px solid #eeeeee; padding:5px;display: inline-block; width:96%;}
#leads > div ul li:hover {background-color:#eeeeee;}
#leads > div ul li div {float:left;}
#leads > div ul li .score {font-size:170%;}
#leads > div ul li div img {width:65px; height:65px; float:left; cursor:pointer;}
#leads > div ul li div div {float:left; width:70%;padding-left:10px;}


/** reputation and visibility */
.digital_score {font-size:64px; padding-right:20px}
.digital_percent {font-size:32px}
.digital_arrow {width:20px; height:20px}

/** competitors */
.score_competitor {font-family:digital; font-size:32px}
.dealer_competitor {color:#555555; font-weight:bold; font-size:14px; height:22px; text-decoration:underline}
.category_competitor {font-family:digital; font-size:32px}



/**user info dialog*/
#dialog_user_info #user_info ul {list-style:none; padding:0px; margin:0px;}
#dialog_user_info #user_info ul li {padding:5px;}



/** map pop window */
.popup ul {list-style:none; padding:0px; margin:0px}
.popup ul li {padding:2px;border-bottom:1px solid #eeeeee;}
.popup ul li:hover {background-color:#eeeeee;}


/** jquery ui */
.ui-widget-overlay {position:fixed}

/** logout dropdown */
a#link {
    background:white;
	padding-right:2px;
    cursor:pointer;
}
 
div#submenu {
    position:absolute;
    border:1px solid #CCC;
    background:#FFF;
    padding:10px;
	display:none;
	margin-right: 10px;
	width: 160px;
}

div.dia_rep {
      padding-top: 1%;
      padding-right: 1%;
      padding-bottom: 1%;
      padding-left: 1%;
    }

div.dia_vis {
      padding-top: 1%;
      padding-right: 1%;
      padding-bottom: 1%;
      padding-left: 1%;
    }

div.dia_rep_2 {
      padding-top: 1%;
      padding-right: 1%;
      padding-bottom: 1%;
      padding-left: 1%;
    }

div.dia_vis_2 {
      padding-top: 1%;
      padding-right: 1%;
      padding-bottom: 1%;
      padding-left: 1%;
    }

@font-face {
font-family: digital;
src: url('digital.ttf');
}