html, body {width:100%; height:100%; padding:0px; margin:0px;overflow:hidden; font-size:85%;font-family:Arial}

#div_map {width:100%; height:100%; padding:0px; margin:0px;}

.ui-corner-all{-moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px;}

/**
 * gallery
 */
#div_gallery {position:absolute; bottom:0px; width:100%; height:90px; z-index:1000; background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70000000,endColorstr=#70000000); zoom: 1; color:#eeeeee;padding:2px; }
#div_gallery ul {list-style:none;padding:0px;margin:0px; width:100%;}
#div_gallery ul li {padding:10px 20px 10px 20px; text-align:center; color:#ffffff; font-weight:bold; width:120px; float:left; cursor:pointer}
#div_gallery ul li:hover {background-color:#555555}
#div_gallery ul li img {height:60px;-moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px;}


/**
 * popup
 */
.popup ul {list-style:none; padding:0px; margin:0px;}
.popup li {padding:2px;}
.popup li:nth-child(even) {background-color:#eeeeee;}


/**
* highlight keyword
*/
.highlightKeyword {color:#ff0000; font-weight:bold}

/**
 * search
 */
#div_search {position:absolute; z-index:1000; top:5px; right:5px; padding:5px; border:2px solid #eeeeee; background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70000000,endColorstr=#70000000); zoom: 1; color:#eeeeee; }
